<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Editar Festa</h1>
    </div>
</div>

<!-- Filtro de Eventos -->
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            Festa
        </div>

        <!-- Painel -->
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label>ID:</label>
                    <input class="form-control" ng-model="vm.festa.id">
                </div>
                <div class="form-group">
                    <label>idUser:</label>
                    <input class="form-control" ng-model="vm.festa.idUser">
                </div>
                <div class="form-group">
                    <label>idEvent:</label>
                    <input class="form-control" ng-model="vm.festa.idEvent">
                    <p class="help-block">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="vm.updateLastEvent()">
                            Atualizar Evento
                        </button>
                    </p>
                </div>
                <div class="form-group">
                    <label>Organizador:</label>
                    <input class="form-control" ng-model="vm.festa.organizador">
                </div>
                <div class="form-group">
                    <label>Nome:</label>
                    <input class="form-control" ng-model="vm.festa.nome">
                </div>
                <div class="form-group">
                    <label>idPages:</label>
                    <input class="form-control" ng-model="vm.festa.idPages">
                </div>
                <div class="form-group">
                    <label>tipo:</label>
                    <input class="form-control" ng-model="vm.festa.tipo">
                </div>
                <div class="form-group">
                    <label>Data Início:</label>
                    <input class="form-control" ng-model="vm.festa.start_time">
                </div>
                <div class="form-group">
                    <label>Data Final:</label>
                    <input class="form-control" ng-model="vm.festa.end_time">
                </div>
                <div class="form-group">
                    <label>cidade:</label>
                    <input class="form-control" ng-model="vm.festa.cidade">
                </div>
                <div class="form-group">
                    <label>estado:</label>
                    <input class="form-control" ng-model="vm.festa.estado">
                </div>
                <div class="form-group">
                    <label>local:</label>
                    <input class="form-control" ng-model="vm.festa.local">
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Novo Campo</label>
                        <select class="form-control" ng-model="vm.novoCampoNome">
                                <option value="-1"> 
                                    Selecione um tipo de Campo
                                </option>
                                <option value="telefone"> 
                                    Telefone
                                </option>
                                <option value="whatsapp"> 
                                    WhatsApp
                                </option>
                                <option value="genero"> 
                                    Genero
                                </option>
                                <option value="estado"> 
                                    Estado
                                </option>
                                <option value="cidade"> 
                                    Cidade
                                </option>
                            </select>
                        <p class="help-block">Tipo do campo que sera adicionado ao JSON.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Valor Campo</label>
                        <input class="form-control" ng-model="vm.novoCampoValor">
                        <p class="help-block">Valor do campo que sera adicionado ao JSON.</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <p align="right">
                <button type="button" class="btn btn-primary" ng-click="vm.addNewField()">
                    Add other field
                </button>
                <button type="button" class="btn btn-primary" ng-click="vm.updateFesta()">
                    Save
                </button>
            </p>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Usuários confirmados no evento
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" style="height: 400px; overflow-y: scroll;">
                <form role="form">
                    <div class="form-group input-group">
                        <input type="text" ng-model="vm.name" class="form-control" placeholder="Search for one person">
                        <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="vm.search()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                    </div>
                </form>
                <table width="100%" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Picture</th>
                            <th>Name</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="people in vm.festa.convidados | filter: vm.name">
                            <td>
                                <a href="#people/{{people.id}}"> 
                                    {{people.id}}
                                </a>
                            </td>
                            <td>
                                <a href="http://facebook.com/{{people.id}}">
                                    <img ng-src="http://graph.facebook.com/{{people.id}}/picture?type=square">
                                </a>
                            </td>
                            <td>
                                {{people.nome}}
                            </td>
                            <td>
                                {{people.genero}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

</div>
</div>

<div class="col-lg-4">
    <div class="well">
        <h4>Editar nova festa de Eventos Gwan.io</h4>
        <p>
            Pagina de edição de de festa Gwan.io
        </p>
    </div>
</div>