<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Facebook Pages
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Paginas Cadastradas
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#newPageModal" ng-click="vm.autenticar()">
                    Nova Pagina
                </button>
            </div>

            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Tipo</th>
                            <th>Website(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="page in vm.pages">
                            <td>
                                <a href="#page/{{page._id}}"> 
                                    {{page.id}}
                                </a>
                            </td>
                            <td>
                                {{page.name}}
                            </td>
                            <td>
                                {{page.category}}
                            </td>
                            <td>
                                {{page.website}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-lg-4">
        <div class="well">
            <h4>Listagem de paginas Gwan.io</h4>
            <p>
                Pagina exibe dados de uma Paginas
            </p>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- INICIO MODAL -->
<div class="modal fade bs-example-modal-lg" id="newPageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Cadastrar Nova Pagina
                </h4>
            </div>

            <div class="modal-body">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        Nova Pagina
                    </div>

                    <div class="panel-body">
                        <form role="form" class="ng-pristine ng-valid">
                            <div class="form-group">
                                <label>Page ID</label>
                                <input type="text" class="form-control" ng-model="vm.newPage.pageID">
                                <p class="help-block">Facebook Page ID.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- //</div> -->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.inspectPage()">Inspect Page</button>
            </div>

        </div>
    </div>
</div>
<!-- FIM MODAL -->