<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tables</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Facebook People {{vm.people.name}}
            </div>

            <div class="panel-body">

                <div class="well">

                    <div class="form-group">
                        <label>JSON</label>
                        <textarea class="form-control" rows="10">{{vm.people}}</textarea>
                    </div>

                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Dados {{vm.people.name}}
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <div class="form-group" ng-repeat="(key, value) in vm.people">
                                <label>{{key | uppercase}}:</label>
                                <input class="form-control" ng-model="vm.people[key]">
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Novo Campo</label>
                                    <select ng-model="vm.novoCampoNome">
                                <option value="-1"> 
                                    Selecione um tipo de Campo
                                </option>
                                <option value="telefone"> 
                                    Telefone
                                </option>
                                <option value="whatsapp"> 
                                    WhatsApp
                                </option>
                                <option value="genero"> 
                                    Genero
                                </option>
                                <option value="estado"> 
                                    Estado
                                </option>
                                <option value="cidade"> 
                                    Cidade
                                </option>
                            </select>
                                    <p class="help-block">Tipo do campo que sera adicionado ao JSON.</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Valor Campo</label>
                                    <input class="form-control" ng-model="vm.novoCampoValor">
                                    <p class="help-block">Valor do campo que sera dicionado ao JSON.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <p align="right">
                            <button type="button" class="btn btn-primary" ng-click="vm.addNewField()">
                        Add other field
                    </button>
                            <button type="button" class="btn btn-primary" ng-click="vm.updatePeople()">
                        Save
                    </button>
                        </p>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Dados {{vm.people.name}}
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>People Picture</label>
                            <p class="form-control-static">
                                <img ng-src="http://graph.facebook.com/{{vm.people.id}}/picture?type=square">
                            </p>
                        </div>
                        <div class="form-group">
                            <label>ID</label>
                            <p class="form-control-static">{{vm.people.id}}</p>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <p class="form-control-static">{{vm.people.name}}</p>
                        </div>
                        <div class="form-group">
                            <label>Last System Update</label>
                            <p class="form-control-static">{{vm.people.lastSystemUpdate}}</p>
                        </div>
                    </div>

                    <div class="well">

                        <div class="form-group">
                            <label>Friends</label>
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Picture</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-repeat="friend in vm.people.friends">
                                    <td>
                                        <a href="#people/{{friend.id}}"> 
                                            {{friend.id}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="http://facebook.com/{{friend.id}}">
                                            <img ng-src="http://graph.facebook.com/{{friend.id}}/picture?type=square">
                                        </a>
                                    </td>
                                    <td>
                                        {{friend.name}}
                                    </td>
                                    <td>
                                        {{friend.gender}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <!-- /.table-responsive -->
                    <div class="well">

                        <div class="form-group">
                            <label>Events</label>
                        </div>
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Data Inicio</th>
                                    <th>Data Termino</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" ng-repeat="event in vm.people.events">
                                    <td>
                                        <a href="#event/{{event.id}}"> 
                                        {{event.id}}
                                    </a>
                                    </td>
                                    <td>
                                        {{event.name}}
                                    </td>
                                    <td>
                                        {{event.start_time}}
                                    </td>
                                    <td>
                                        {{event.end_time}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-4">
        <div class="well">
            <h4>Listagem de dados de uma Pessoa Gwan.io</h4>
            <p>
                Pagina exibe dados de uma Pessoa
            </p>
        </div>
    </div>
</div>

</div>