<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Dashboard
			<div class="btn-group" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Selecione usuario para exibir relatório
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="conta in vm.accounts" >
						<a ng-click="vm.showAccount(conta)">
							{{conta.username}}
						</a>
					</li>
				</ul>
			</div>
		</div>
		</h1>
		
	</div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6">
		
		<!-- Novos Seguidores -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-comments fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{vm.accounts.newFollowers}}</div>
						<div>Novos Seguidores</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">Ver Detalhes</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>

	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-tasks fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">12</div>
						<div>Novas Curtidas!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">Ver Detalhes</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-shopping-cart fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">124</div>
						<div>Novos Seguidores</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">Ver Detalhes</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-support fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">13</div>
						<div>Novidades!</div>
					</div>
				</div>
			</div>
			<a href="#">
				<div class="panel-footer">
					<span class="pull-left">Ver Novidades</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-8">

		<div class="panel panel-default" ng-show="vm.conta.publications.length > 1">
			<div class="panel-heading">
				{{vm.conta.username}} Timeline
			</div>

			<div class="panel-body">

				<!-- Tab panes -->
				<div class="timeline-content">
						<ul class="timeline" style="height: 400px;overflow: scroll;">
							<li ng-repeat="post in vm.conta.publications"  ng-class-even="'timeline-inverted'">
								<div class="timeline-badge">
								<i class="fa fa-check"></i>
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<p>
											<small class="text-muted">
												<i class="fa fa-clock-o"></i>
												{{post.created_time}} hours ago via Instagram
											</small>
										</p>

										<img class="img-responsive" ng-src="{{post.pictures.standard}}" />

									</div>
									<div class="timeline-body">
										<p>
												{{post.text}}
										</p>
									</div>
									<div class="timeline-footer">
										{{post.likesCount}}
										<a>
											<i class="glyphicon glyphicon-thumbs-up"></i>
										</a>
										{{post.commentsCount}}
										<a>
											<i class="glyphicon glyphicon-share"></i>
										</a>
										<a class="pull-right">Ver Mais</a>
									</div>
								</div>
							</li>
						</ul>

				</div>

			</div>

		</div>

	</div>

	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-bell fa-fw"></i> Novidades
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="list-group">

					<!-- Novos Seguidores -->
					<button class="list-group-item" ng-show="vm.conta.newFollowers.length > 0" ng-click="vm.setUsersModal(vm.conta.newFollowers, 'new')" data-toggle="modal" data-target="#usersList">
						<i class="fa fa-comment fa-fw"></i> {{vm.conta.newFollowers.length}} Novos seguidores
						<span class="pull-right text-muted small"><em>{{vm.getLastHour(vm.conta.newFollowers)}} ago</em>
						</span>
					</button>

					<!-- Seguidores Perdidos -->
					<a href="#" class="list-group-item" ng-show="vm.conta.lostFollowers.length > 0" ng-click="vm.setUsersModal(vm.conta.lostFollowers, 'lost')" data-toggle="modal" data-target="#usersList">
						<i class="fa fa-twitter fa-fw"></i> {{vm.conta.lostFollowers.length}} Seguidores perdidos
						<span class="pull-right text-muted small"><em>{{vm.getLastHour(vm.conta.lostFollowers)}} ago</em>
						</span>
					</a>

					<!-- Fans -->
					<a href="#" class="list-group-item" ng-show="vm.conta.fans.length > 0" ng-show="vm.conta.fans.length > 0" ng-click="vm.setUsersModal(vm.conta.fans, 'fans')" data-toggle="modal" data-target="#usersList">
						<i class="fa fa-envelope fa-fw"></i> Message Sent
						<span class="pull-right text-muted small"><em>{{vm.getLastHour(vm.conta.fans)}} ago</em>
						</span>
					</a>

					<!-- Não segue devolta -->
					<a href="#" class="list-group-item" ng-show="vm.conta.notSDV.length > 0" ng-show="vm.conta.notSDV.length > 0" ng-click="vm.setUsersModal(vm.conta.notSDV, 'notSDV')" data-toggle="modal" data-target="#usersList">
						<i class="fa fa-tasks fa-fw"></i> New Task
						<span class="pull-right text-muted small"><em>{{vm.getLastHour(vm.conta.notSDV)}} ago</em>
						</span>
					</a>

				</div>
				<!-- /.list-group -->
				<a href="#" class="btn btn-default btn-block">View All Alerts</a>
			</div>
			<!-- /.panel-body -->
		</div>
	</div>
	<!-- /.col-lg-4 -->
</div>
<!-- /.row -->

<!-- INICIO MODAL -->
<div class="modal fade" id="usersList" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog" role="document">

		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					{{vm.modalTitle}}
				</h4>
			</div>

			<div class="modal-body">

				<div class="list-group">

					<a href="#" class="list-group-item clearfix" ng-repeat="conta in vm.usersModal">
						<img ng-src="{{conta.profile_picture}}" alt="{{conta.username}}" class="img-circle" style="width: 50px;">
						{{conta.username}}
						<span class="pull-right">
							<button class="btn btn-info" ng-show="vm.canFollow(conta)" ng-click="vm.follow(conta)">
								Seguir
							</button>
							<button class="btn btn-default" ng-click="vm.showProfile(conta)">
								Ver perfil
							</button>
						</span>
					</a>
				</div>	
			</div>
			

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>
<!-- FIM MODAL -->