<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Calendário de Eventos</h1>
    </div>
</div>

<!-- Filtro de Eventos -->
<div class="col-lg-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            Eventos
        </div>

        <!-- Painel -->
        <div class="panel-body">
            <div id="searchbar">
                <form method="post" role="search">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">
                            <div class="input-group">
                                <div class="input-group-btn search-panel">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span id="search_concept">
                                            Filter by
                                        </span> 
                                        <span class="caret">
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li>
                                            <a href ng-click="vm.showFilter(1)">
                                                Genero
                                            </a>
                                        </li>
                                        <li>
                                            <a href ng-click="vm.showFilter(2)">
                                                Data
                                            </a>
                                        </li>
                                        <li ng-hide="true">
                                            <a href ng-click="vm.showFilter(3)">
                                                Local
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href ng-click="vm.showFilter(-1)">
                                                Todos
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Nome -->
                                <input type="text" class="form-control" placeholder="Search term..." ng-show="vm.filter === -1">

                                <!-- Genero -->
                                <select class="form-control" ng-model="vm.generos" placeholder="Search for events" ng-show="vm.filter === 1">
                                    <option ng-selected="true" value="-1" placeholder="Search for events"> 
                                        Selecione um Gênero
                                    </option>
                                    <option value="genero.genero" ng-repeat="genero in vm.generos"> 
                                        {{genero.genero}}
                                    </option>
                                </select>
                                <!-- DATA -->
                                <select class="form-control" ng-show="vm.filter === 2">>
                                    <option value="-1"> 
                                        Selecione Data
                                    </option>
                                    <option ng-repeat="date in vm.datas" value="$index">
                                        {{date.data}}
                                    </option>
                                </select>

                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <span class="glyphicon glyphicon-plus">
                                        </span>

                                </button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        Procurar
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Calendario de Eventos -->
    <h2 class="text-center">
        {{ vm.calendarTitle }}
    </h2>

    <div class="row">

        <!-- Navegação entre Datas -->
        <div class="col-md-6 text-center">
            <div class="btn-group">
                <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                      Anterior
                    </button>
                <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                      Hoje
                    </button>
                <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                      Próximo
                    </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <!-- Navegação entre Datas -->
        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Ano</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Mês</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Semana</label>
                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Dia</label>
            </div>
        </div>

    </div>

    <div class="row">
        <mwl-calendar view="vm.calendarView" view-date="vm.viewDate" events="vm.events" view-title="vm.calendarTitle" cell-is-open="true" custom-template-urls="{calendarMonthCell: 'customMonthCell.html'}">
        </mwl-calendar>

        <script id="customMonthCell.html" type="text/ng-template">
            <div class="cal-month-day">

                <span class="pull-right" data-cal-date ng-click="vm.calendarCtrl.dateClicked(day.date)" ng-bind="day.label">
                    </span>

                <small style="position: absolute; bottom: 10px; left: 5px" ng-show="day.events.length > 0">
                          <p class="text-center" align="right">
                              {{ day.events.length }} events on this day
                          </p>
                    </small>
            </div>
        </script>
    </div>
</div>
</div>

<div class="col-lg-4">
    <div class="well">
        <h4>Calendario de Eventos Gwan.io</h4>
        <p>
            Pagina calendario de eventos
        </p>
    </div>
</div>