<!DOCTYPE html>
<html lang="en" ng-app="gwan">

<head>
    <!-- Loading Bootstrap -->
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../css/flat-ui.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">

    <link href="../css/style.complete.css" rel="stylesheet">

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
</head>

<body ng-controller="LoginCtrl as vm">
    <div class="container">
        <div class="row">
            <div class="center-form panel">
                <div class="panel-body">
                    <h2 class="text-center">Sign up</h2>
                    <form method="post" ng-submit="vm.signup()" name="signupForm">
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.displayName.$invalid && signupForm.displayName.$dirty }">
                            <input class="form-control input-lg" type="text" name="displayName" ng-model="vm.user.displayName" placeholder="Name" required autofocus>
                            <span class="ion-person form-control-feedback"></span>
                            <div class="help-block text-danger" ng-if="signupForm.displayName.$dirty" ng-messages="signupForm.displayName.$error">
                                <div ng-message="required">You must enter your name.</div>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
                            <input class="form-control input-lg" type="email" id="email" name="email" ng-model="vm.user.email" placeholder="Email" required>
                            <span class="ion-at form-control-feedback"></span>
                            <div class="help-block text-danger" ng-if="signupForm.email.$dirty" ng-messages="signupForm.email.$error">
                                <div ng-message="required">Your email address is required.</div>
                                <div ng-message="pattern">Your email address is invalid.</div>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
                            <input password-strength class="form-control input-lg" type="password" name="password" ng-model="vm.user.password" placeholder="Password" required>
                            <span class="ion-key form-control-feedback"></span>
                            <div class="help-block text-danger" ng-if="signupForm.password.$dirty" ng-messages="signupForm.password.$error">
                                <div ng-message="required">Password is required.</div>
                            </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.confirmPassword.$invalid && signupForm.confirmPassword.$dirty }">
                            <input password-match="user.password" class="form-control input-lg" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
                            <span class="ion-key form-control-feedback"></span>
                            <div class="help-block text-danger" ng-if="signupForm.confirmPassword.$dirty" ng-messages="signupForm.confirmPassword.$error">
                                <div ng-message="compareTo">Password must match.</div>
                            </div>
                        </div>
                        <p class="text-center text-muted">
                            <small>By clicking on Sign up, you agree to 
              <a href="commingsoon.html">terms & conditions</a> and 
              <a href="commingsoon.html">privacy policy</a>
              </small>
                        </p>
                        <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg btn-block btn-primary">
              Sign up
            </button>
                        <br/>
                        <p class="text-center text-muted">
                            Already have an account? <a href="/admin/login.html">Log in now</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- Third-party Libraries -->
<script src="/lib/angular/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<!-- Lodash -->
<script src="/lib/ng-lodash/build/ng-lodash.min.js"></script>
<!-- angular-animate -->
<script src="/lib/angular-animate/angular-animate.js"></script>
<!-- angular-messages -->
<script src="/lib/angular-messages/angular-messages.js"></script>
<!-- angular-resource -->
<script src="/lib/angular-resource/angular-resource.js"></script>
<!-- angular-sanitize -->
<script src="/lib/angular-sanitize/angular-sanitize.js"></script>
<!-- angular-ui-router -->
<script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
<!-- toastr -->
<script src="/lib/angular-toastr/dist/angular-toastr.tpls.js"></script>
<!-- satellizer -->
<script src="/lib/satellizer/satellizer.js"></script>
<!-- angular-bootstrap-calendar -->
<script src="/lib/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
<!-- angular-ui-bootstrap -->
<script src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
<!-- angular-smart-table -->
<script src="/lib/angular-smart-table/dist/smart-table.js"></script>
<!-- moment.js -->
<script src="/lib/moment/moment.js"></script>
<script src="/lib/angular-moment/angular-moment.js"></script>
<!-- ngStorage.js -->
<script src="/lib/ngstorage/ngStorage.js"></script>

<!-- App Angular -->
<script src="app.js"></script>

<!-- Controllers -->
<script src="controllers/login.js"></script>

<!-- Services -->
<script src="services/AccountService.js"></script>
<script src="services/LoggerService.js"></script>